<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
    	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	Roles: <span sec:authentication="principal.authorities"></span>
	<span sec:authentication="principal.authorities"></span>
	
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
        
</body>
</html>